.Button {
    display: inline-block;
    width: fit-content;
    padding: 0 15px;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    background-color: #e0e0e0;
    border-radius: 5px;
    outline: none;
    border: none;
    white-space: nowrap;
    box-sizing: border-box;
    text-transform: uppercase;

    &.success {
        background-color: #77cc77;
    }

    &.small {
        padding: 0 10px;
        font-size: 12px;
        line-height: 30px;
    }

    &.large {
        padding: 0 20px;
        font-size: 18px;
        line-height: 50px;
    }

    &.primary {
        background-color: #90caf9;
    }

    &.secondary {
        background-color: #f48fb1;
    }

    &[disabled] {
        opacity: 0.4;
    }
}
  